html
  head
    title Nest Witch
    script(src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous")

  body
    div(id='main')
      div(id='sub')

    script(src='js/record.js')
    script.

      window.addEventListener('load', function() {
        var player = JSON.parse(window.localStorage.getItem('player'))

        loadScene(player)
      })

      function loadScene(player) {
        if (!player) return;
        player.index = player.choice.index || 0

        window.localStorage.setItem('player', JSON.stringify(player));
        $.post('/game', player)
          .done(function(data) {

            $("#sub").empty().append(data)

            $("input[type='radio']").click(function(e){
              player.choice.index = e.target.dataset.link
              player.choice.quality = JSON.parse(e.target.dataset.quality)
            })

            $("input[type='button']").click(function() {
              var quality = player.choice.quality
              if (quality.name === null){
                loadScene(player)
              } else {
                var pattern = player.pattern
                player.pattern = record(quality, pattern)
                loadScene(player)
              }
          })
        })
      }
        
