html
  head
   meta(charset='utf-8')
   script(src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous")

  body
    div(id='profile')
      h3 PLEASE REVIEW YOUR RECEIPT

    div(id='again')
      h5 NOT YOU?
      button(id='reset') RESET
      button(id='refine') REFINE

    script.
      //we're already sending the pattern to the server in order
      //to print the profile, so we might as well get everything
      //we need for the 'refine' event as well

      window.addEventListener('load', function(){
        var player = JSON.parse(window.localStorage.getItem('player'))
        var pattern = player.pattern
        var played = player.played
        if (!player.played) {
        player.played = player.played
        }
        var episode = player.episode
        player.played.push(episode)

        window.localStorage.setItem('player', JSON.stringify(player))

        $.post('/home', {pattern: pattern, played: played})
          .done(function(data){

            player.episode = data
            player.index = 0
            player.choice = {}
            window.localStorage.setItem('player', JSON.stringify(player))
          })
      })

      $('#reset').click(function(){
        location.href = location.origin + '/'

      })

      $('#refine').click(function(){
        location.href = location.origin + '/game'

      })
