html
  head
    meta(charset='utf-8')
    title Nest Witch

  body
    div(id='banner')
      h1 NEST WITCH
      p Expect more from your home possession
<<<<<<< HEAD

    div(id='main')
      h3 YOU ARE SPECIAL
      p.
        Traditional home automation systems are bound by the laws of time
        and space. By invoking dark powers beyond its control, Nest Witch
        is able to proactively align your physical reality with the unique
        hellscape of your mind.

    div(id='demo')
      h3 TRY IT OR ELSE
      p Create your free profile now!
      a(href='/quiz') blah

    script.
      window.addEventListener('load', function(){

        localStorage.clear()
        var player = {
          pattern: [],
          episode: 'ep1',
          choice: {}
        }
        window.localStorage.setItem('player', JSON.stringify(player))
      })