@font-face {
    font-family: 'Mononoki';
    src: url('./mononoki-italic.woff2')
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #10253a;
    color: #a9d478;
    font-family: 'Mononoki';
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#blueprint {
    height: 66.666666%;
}

#terminal {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33.333333%;
    border-top: solid 1px #ffd700;
    background-color: #0b0b0b;
}

#terminal-output {
    flex-grow: 1;
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
    list-style-type: none;  
}

#terminal-output li {
    padding: 4px 8px 4px 8px;
}

#terminal-output li:first-child {
    padding-top: 8px;
}

#terminal-output li:last-child {
    padding-bottom: 8px;
}

#terminal-input-form {
    flex-basis: 50px;
    flex-shrink: 0;
    display: flex;
    border-top: solid 1px #ffd700;
}

#terminal-input-form span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#terminal-input {
    flex-grow: 1;
    padding: 16px 16px 16px 0;
    border: 0;
    background-color: #a9d478;
    color: #ff69b4;
    font-size: 1.1em;
    outline: 0;
    font-family: inherit;
    background-color: #0b0b0b;     
}

red {
    color: hotpink
}
